
.env
.env.local
.env.development
.env.production
.env.test
*.env*

**/node_modules/
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

**/.next/
**/out/
**/dist/
**/build/
**/.cache/

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/*.log

**/.DS